In [1]:
import pandas as pd

In [2]:
csv_1 = pd.read_csv("C:\\Users\\iamad\\AI and ML\\data.csv")
csv_1

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [9]:
csv_1.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [11]:
csv_1[10:21]

    Duration          Date  Pulse  Maxpulse  Calories
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0

In [15]:
csv_1.sort_index(axis = 0, ascending = False)

    Duration          Date  Pulse  Maxpulse  Calories
31        60  '2020/12/31'     92       115     243.0
30        60  '2020/12/30'    102       129     380.3
29        60  '2020/12/29'    100       132     280.0
28        60  '2020/12/28'    103       132       NaN
27        60  '2020/12/27'     92       118     241.0
26        60      20201226    100       120     250.0
25        60  '2020/12/25'    102       126     334.5
24        45  '2020/12/24'    105       132     246.0
23        60  '2020/12/23'    130       101     300.0
22        45           NaN    100       119     282.0
21        60  '2020/12/21'    108       131     364.2
20        45  '2020/12/20'     97       125     243.0
19        60  '2020/12/19'    103       123     323.0
18        45  '2020/12/18'     90       112       NaN
17        60  '2020/12/17'    100       120     300.0
16        60  '2020/12/16'     98       120     215.2
15        60  '2020/12/15'     98       123     275.0
14        60  '2020/12/14'    104       132     379.3
13        60  '2020/12/13'    106       128     345.3
12        60  '2020/12/12'    100       120     250.7
11        60  '2020/12/12'    100       120     250.7
10        60  '2020/12/11'    103       147     329.3
9         60  '2020/12/10'     98       124     269.0
8         30  '2020/12/09'    109       133     195.1
7        450  '2020/12/08'    104       134     253.3
6         60  '2020/12/07'    110       136     374.0
5         60  '2020/12/06'    102       127     300.0
4         45  '2020/12/05'    117       148     406.0
3         45  '2020/12/04'    109       175     282.4
2         60  '2020/12/03'    103       135     340.0
1         60  '2020/12/02'    117       145     479.0
0         60  '2020/12/01'    110       130     409.1

In [18]:
csv_1.loc[(4,5),("Duration","Pulse")]

   Duration  Pulse
4        45    117
5        60    102

In [19]:
csv_1.drop("Pulse",axis = 1)

    Duration          Date  Maxpulse  Calories
0         60  '2020/12/01'       130     409.1
1         60  '2020/12/02'       145     479.0
2         45  '2020/12/03'       135     340.0
3         45  '2020/12/04'       175     282.4
4         45  '2020/12/05'       148     406.0
5         60  '2020/12/06'       127     300.0
6         60  '2020/12/07'       136     374.0
7        450  '2020/12/08'       134     253.3
8         30  '2020/12/09'       133     195.1
9         60  '2020/12/10'       124     269.0
10        60  '2020/12/11'       147     329.3
11        60  '2020/12/12'       120     250.7
12        60  '2020/12/12'       120     250.7
13        60  '2020/12/13'       128     345.3
14        60  '2020/12/14'       132     379.3
15        60  '2020/12/15'       123     275.0
16        60  '2020/12/16'       120     215.2
17        60  '2020/12/17'       120     300.0
18        45  '2020/12/18'       112       NaN
19        60  '2020/12/19'       123     323.0
20        45  '2020/12/20'       125     243.0
21        60  '2020/12/21'       131     364.2
22        45           NaN       119     282.0
23        60  '2020/12/23'       101     300.0
24        45  '2020/12/24'       132     246.0
25        60  '2020/12/25'       126     334.5
26        60      20201226       120     250.0
27        60  '2020/12/27'       118     241.0
28        60  '2020/12/28'       132       NaN
29        60  '2020/12/29'       132     280.0
30        60  '2020/12/30'       129     380.3
31        60  '2020/12/31'       115     243.0